<div class="row">
  <div class="small-12 text-center columns">
    <%= image_tag 'logo.png' , class: "logo" %>
  </div>

  <div class="small-12 text-center columns">
    <a href="http://eepurl.com/81Ko1" class="button white-button"> REQUEST BETA </a>
  </div>
</div>
