<div class="row">
  <div class="small-12 text-center columns">
    <div style="margin-top: 200px;"></div>
    <%= image_tag 'logo.png' , class: "logo" %>
  </div>

  <iframe src="https://embed.spotify.com/?uri=spotify:track:72gGeQ0dZ7E8RlBeNJNJkb" width="300" height="80" frameborder="0" allowtransparency="true" style="position: absolute; left: 0; top: 90%;"></iframe>
</div>
