<div class="row">
  <div class="small-12 text-center columns">
    <div id="jumbo">
      <h3> 
        THE MOST AWESOME APP THAT HAS EVER BEEN 
        </br>
        INVENTED BY ANYONE WHO HAS EVER INVENTED AN APP 
      </h3>
    </div>
    <div id="logo">
      <%= image_tag 'logo.png' %>
    </div>
  </div>
</div>

<div class="clearfix" id="app-download">
  <div class="left">
    <%= image_tag 'download-droid.png' %>
  </div>
  <div class="right">
    <%= image_tag 'download-ios.png' %>
  </div>
</div>
</div>
