body {
  background: asset-url('gorilla.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#jumbo {
  margin-top: 50px;
  h3 {
    font-weight: bold;
    @media #{$medium-only} {
      font-size: rem-calc(24);
    }
    @media #{$small-only} {
      font-size: rem-calc(12);
    }
  }
}

.logo  {
  @media #{$small-only} {
    max-width: 50%;
  }
  max-width: 70%;
  width: 100%;
  height: auto;
}

div#app-download {
  @media #{$medium-only} {
    margin-top: 25px;
  }
  @media #{$large-only} {
    margin-top: 75px;
  }
  @media #{$xlarge-up} {
    margin-top: 250px;
  }
  img {
    height: auto;
    width: 100%;
  }
}
